---
---
h1.title {
  font-size: 45px !important;
  font-style: normal !important;
}
.tagline {
  font-style: italic !important;
}
.markdown-body hr {
  margin-top: 40px;
  margin-bottom: 5px;
}
.markdown-body h1 {
  margin-top: 5px;
  margin-bottom: 5px !important;
}
.markdown-body h2 {
  margin-top: 25px !important;
  margin-bottom: 5px !important;
}
.markdown-body h4 {
  margin-left: 10px !important;
  margin-bottom: 10px !important;
  font-style: italic !important;
}
.markdown-body h5 {
  margin-bottom: 0 !important;
  font-size: 18px !important;
}
.markdown-body h6 {
  margin-top: 5px !important;
  font-size: 14px !important;
}
.markdown-body img {
  max-width: 4% !important;
}
.markdown-body thead, 
.markdown-body th {
  font-size: 0 !important;
}
.markdown-body ul {
  margin-top: 10px !important;
  margin-left: 10px !important;
}
/*@import "{{site.theme}}";
#nancy-pietropaolo {
  margin-bottom: 5px;
  font-size: 36px;
}*/
#current-title {
  margin-top: 5px;
  font-size: 18px;
}
#email {
  margin-top: 10px;
}
#first-hr {
  margin-top: 10px;
}
.plaintext {
  margin-top: 5px;
  margin-left: 25px;
}
.capstone {
  margin-top: 15px;
  margin-bottom: 10px !important;
  font-size: 13px;
}